main > .container {
    padding: 60px 15px 0;
  }
  .navbar-brand{
    color: gold !important;
  }
  
  .text-center{
    padding: 200px 15px 25px;
    vertical-align: middle !important;
  }
  .btn-primary{
    background-color: gold !important;
    color: black !important;
    width: 60%;
    padding: 5%;
  }
  .card-header{
    background-color: black !important;
    color: gold !important;
  }
  .btn{
    background-color: black !important;
    color: gold !important;
  }
  .btn-warning{
    background-color: gold !important;
    color: black !important;
  }
  .footer{
    background-color: white !important;
  }